<!doctype html>
<html lang="en">
<head>
  <title><%= props.name %></title>
  <link rel="stylesheet" type="text/css" href="bower_components/material-design-lite/material.min.css">
</head>
<body>
<div class="demo-grid-1 mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2><%= props.name %></h2>
    </div>
</div>
<div class="demo-grid-1 mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" style="word-wrap:break-word;">
        <%= props.helpText ? props.helpText.trim() : '' %>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <%= props.form ? props.form.trim() : '' %>
    </div>
</div>

<script src="build/all.min.js"></script>
</body>
</html>
