<!doctype html>
<html lang="en">
<head>
  <title><%= props.name %></title>
  <link rel="stylesheet" type="text/css" href="bower_components/material-design-lite/material.min.css">
</head>
<body>
<div class="demo-grid-1 mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2><%= props.name %></h2>
    </div>
</div>
<div class="demo-grid-1 mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" style="word-wrap:break-word;">
        <% if (templateIncs._helpText) { %>
            <%= include(templateIncs._helpText) %>
        <% } %>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <% if (templateIncs._form) { %>
            <%= include(templateIncs._form) %>
        <% } %>
    </div>
</div>

<script src="build/all.min.js"></script>
</body>
</html>
