        <form>
            <p>If your connector requires user interaction, you need a form here.</p>
            <!-- Each option you provide to your user should be represented as
                 either an input, textarea, or select list. Each of these elements
                 must also include a "name" attribute. -->
            <% if (props.hasInput) { %>
                <%= include(templateIncs._inputField).trim() %>
            <% } %>
            <% if (props.hasSelectOption) { %>
                <%= include(templateIncs._selectField).trim() %>
            <% } %>
            <% if (props.hasTextarea) { %>
                <%= include(templateIncs._textareaField).trim() %>
            <% } %>
            <div>
                <input type="submit" value="Connect" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
            </div>
        </form>
