        <form>
            <p>If your connector requires user interaction, you need a form here.</p>
            <!-- Each option you provide to your user should be represented as
                 either an input, textarea, or select list. Each of these elements
                 must also include a "name" attribute. -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="someOption" />
                <label class="mdl-textfield__label" for="someOption">Option label</label>
            </div>
            <div>
                <input type="submit" value="Connect" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
            </div>
        </form>
