        <form id="inputForm" action="">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="docLink" name="docLink" />
                <label class="mdl-textfield__label" for="docLink">Google Spreadsheet Link</label>
            </div>
            <div>
                <input type="submit" value="Connect to spreadsheet" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            </div>
        </form>
